<%= bootstrap_form_for @session_form, remote: true, url: sign_in_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
