<div class="container">
  <div class="page-header">
    <h1><%= t ".title" %></h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= render "stats" %>
      <%= render "filters" %>
    </div>
    <div class="col-sm-8" id="meals">
      <%= render filtering ? "filtered" : "unfiltered" %>
    </div>
  </div>
</div>